* {
  box-sizing: border-box;
  font-family: Roboto Condensed;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
}

/* Header start */
header {
  display: flex;
  justify-content: space-between;
  margin: 80px 70px 0 70px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-input {
  font-size: 1rem;
  height: 2.5rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 3px 0 0 3px;
  border: none;
}

.search-button {
  font-size: 1rem;
  font-weight: 500;
  width: 4rem;
  height: 2.5rem;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: #ffc800;

  &:hover {
    background-color: #ffdc5f;
  }
}

.heading-container {
  text-align: end;
}

.main-heading {
  font-family: "Secular One", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.09em;
  margin: 0;
}

.sub-heading {
  font-family: "Lora", serif;
  color: #ffd029;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.6em;
  margin: 30px 0;
}
/* Header end */

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 70px 0 0;
}

/* Planets start */
.sun {
  width: 370px;
  height: 740px;
  border-radius: 0 740px 740px 0;
  background: #ffd029;
  box-shadow: 0px 0px 250px 0px #ffd02933;
}

.mercury {
  background-color: #888888;
  width: 28px;
  height: 28px;
}

.venus {
  background-color: #e7cdcd;
  width: 52px;
  height: 52px;
}

.earth {
  background-color: #428ed4;
  width: 56px;
  height: 56px;
}

.mars {
  background-color: #ef5f5f;
  width: 24px;
  height: 24px;
}

.jupiter {
  background-color: #e29468;
  width: 188px;
  height: 188px;
}

.saturn {
  background-color: #c7aa72;
  width: 144px;
  height: 144px;
  position: relative;
}

.saturn-ring {
  background-color: #ffffff66;
  width: 218px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  transform: translate(-37px, 71px) rotate(-30deg);
}

.uranus {
  background-color: #c9d4f1;
  width: 66px;
  height: 66px;
}

.neptune {
  background-color: #7a91a7;
  width: 66px;
  height: 66px;
}

.br-50 {
  border-radius: 50%;
}

.hover-small-planet {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
}

.hover-large-planet {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
/* Planets end */

/* Planet info start */
.planet-info {
  margin: auto;
  max-width: 640px;
}

hr {
  border: 1px solid #ffffff33;
}

.planet-content {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  color: #ffffff;
}

.planet-sub-heading {
  font-family: Secular One;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: #ffffff;
  margin: 32px 0 16px 0;
}

.planet-specs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* Planet info end */

/* Big planets start */
.planet {
  width: 370px;
  height: 740px;
  border-radius: 0 740px 740px 0;
}

.sun-big {
  background: #ffd029;
  box-shadow: 0px 0px 250px 0px #ffd02933;
}

.mercury-big {
  background-color: #888888;
  box-shadow: 0 0 0 50px #8888881a, 0 0 0 100px #8888880f;
}

.venus-big {
  background-color: #e7cdcd;
  box-shadow: 0 0 0 50px #e7cdcd1a, 0 0 0 100px #e7cdcd0f;
}

.earth-big {
  background-color: #428ed4;
  box-shadow: 0 0 0 50px #428ed41a, 0 0 0 100px #428ed40f;
}

.mars-big {
  background-color: #ef5f5f;
  box-shadow: 0 0 0 50px #ef5f5f1a, 0 0 0 100px #ef5f5f0f;
}

.jupiter-big {
  background: #e29468;
  box-shadow: 0 0 0 50px #e294681a, 0 0 0 100px #e294680f;
}

.saturn-big {
  background-color: #c7aa72;
  box-shadow: 0 0 0 50px #c7aa721a, 0 0 0 100px #c7aa720f;
  position: relative;
}

.saturn-big-ring {
  background-color: #ffffff66;
  width: 1066px;
  height: 16px;
  border-radius: 100%;
  position: absolute;
  left: -533px;
}

.uranus-big {
  background-color: #c9d4f1;
  box-shadow: 0 0 0 50px #c9d4f11a, 0 0 0 100px #c9d4f10f;
}

.neptune-big {
  background-color: #7a91a7;
  box-shadow: 0 0 0 50px #7a91a71a, 0 0 0 100px #7a91a70f;
}
/* Big planets end */
